$categories: latest feature snippet podcast other;
$normals: rgb(88,74,113) rgb(0,98,126) rgb(22,128,85) rgb(217,134,0) rgb(159,24,56);
$darks: rgb(47,32,74) rgb(10,64,79) rgb(15,87,58) rgb(179,110,0) rgb(125,6,34);
$lights: rgb(156,106,214) rgb(104,155,211) rgb(212,248,112) rgb(255,218,115) rgb(255,115,115);
