$categories: feature snippet podcast about;
$normals: rgb(88,14,173) rgb(145,181,45) rgb(255,187,0) rgb(255,0,0);
$darks: rgb(55,4,112) rgb(115,157,0) rgb(166,122,0) rgb(166,0,0);
$lights: rgb(156,106,214) rgb(212,248,112) rgb(255,218,115) rgb(255,115,115);