@import "large_plus";

#page { width: 1400px; max-width: none; margin: 0 auto; padding: 0 $margin; background-color:rgb(224, 222, 207);}
#sections, .section-other { width: 3 * $wide_column + 2 * $margin; float: left; }
.entrypost {height:315px; width: 300px; display:inline-block; position:absolute; left:628px;}
.entry-thumbnail {display:inline-block; width: 300px;}
.entry-content-single {line-height: $big_margin; width: 884px;}




.section-podcast { float:right; width: 400px; }
.posts .articles .twitter-timeline { width: $wide_column; }
.section-latest .posts .post .bigfatpost {width: 927px;}

.section-latest .row {width: 927px;}
.section-latest .row .post {width: $wide_column;}
.section-latest .posts, .section-podcast .posts, .section-podcast .posts .articles { width: $wide_column; max-width: none; }

.section-podcast .posts {
    .post, .articles, .twitter-timeline { margin-left: 0; margin-right: $margin; }
}
.single {
	#article { width: 2 * $wide_column; }
	.aside { width: $wide_column; }
}
.archive, .search {
	.clear4 { clear:left; margin-left: 0; }
}

div.alignleft, div.alignright, div.aligncenter {
	width: 2 * $wide_column;
	img { width: 1.5 * $wide_column; float: left; }
	&:after { right: 0.5 * $wide_column; }
}

.bleed-switch2 { img { left: 0; top: 0; } }

.section-calendar iframe {
		width:800px;
		height:300px;
		}