@import "large_plus";

#page { width: 3 * $wide_column + 2 * $margin; max-width: none; margin: 0 auto; padding: 0 $margin; background-color:rgb(224, 222, 207);}

.entrypost {height:315px; width: 300px; display:inline-block; position:absolute; left:628px;}
.entry-thumbnail {display:inline-block; width: 300px;}

.entry-content-single {line-height: $big_margin; width: 442px;}

.section-latest .posts .post, .single #related,  .single #latest, .single .references, .single #other .post { width: $wide_column; max-width: none; }
.single {
	#article { width: 2 * $column; }
	.aside { width: $column; }
}
.archive, .search {
	.clear3 { clear:left; margin-left: 0; }
}

div.alignleft, div.alignright, div.aligncenter {
	width: 2 * $column;
	img { width: 1.5 * $column; float: left; }
	&:after { right: 0.5 * $column; }
}


.section-calendar iframe {
		width:800px;
		height:300px;
		}

