body { 
  font-family:	Calibri,
		"Gill Sans",
		"Gill Sans MT",
		"DejaVu Sans Condensed",
		"Liberation Sans",
		"Nimbus Sans L",
		Tahoma,
		sans-serif;
		
  font-size: 13px;
  overflow-x: hidden;
}

div.twtr-widget { 
  font-family:	Calibri,
		"Gill Sans",
		"Gill Sans MT",
		"DejaVu Sans Condensed",
		"Liberation Sans",
		"Nimbus Sans L",
		Tahoma,
		sans-serif
		!important;
		
  font-size: 13px !important;
}

h1, h2, h3, h4, h5, h6, #access #navList a {
  font-family:	"Century Gothic",
		Futura,
		"URW Gothic L",
		"Trebuchet MS",
		Verdana,
		"DejaVu Sans",
		"Nimbus Sans L",
		sans-serif;
  font-size: 16px;
  font-weight: bold;
}

h1 { font-size: 24px; margin-bottom: 14px; }
h3 { font-size: 18px; text-align: center; margin-bottom: 5px; text-transform: uppercase; }

.wp-caption p { font-weight: bold; }

.entry-content { line-height: 21px; }
.entry-content, .category-archive-meta, #author-info { 
	p, br { margin-bottom: 14px; }
}
.entry-header { text-transform: uppercase; text-align: center; margin-bottom: 14px; }
.single #content .entry-header { text-transform: none; text-align: left; }

#access a, h1, .single h2, .archive #nav-below h3, .search #nav-below h3, #site-generator h2 { color: white; }
a { text-decoration: none; }

$categories: feature snippet podcast about;
$normals: rgb(255,24,0) rgb(64,19,175) rgb(255,217,0) rgb(0,139,43);
$darks: rgb(149,71,71) rgb(62,49,103) rgb(149,136,71) rgb(57,119,57);
$lights: rgb(255,128,115) rgb(140,109,215) rgb(255,234,115) rgb(101,224,128);

ul.blank li { list-style: none inside; }

#logo { background: nth($normals, 1); width: 240px; height: 128px; max-width: none; }
#logo img { z-index: 0 !important; }

.twtr-hd h3 { display: none; }
.twtr-hd h4, .twtr-hd h3 { float: left; clear: none; }

dt { float: left; margin-right: 5px; font-weight: bold; }
dd { margin-bottom: 10px; }

@mixin link{ 
	text-decoration: none; 
	color: #000000; 
	font-weight: bold; 
	border-bottom: 1px dotted;
	
	&:hover { color: #ffffff; } 
}

@for $i from 1 to 5 {
	$category: nth($categories, $i);
	$normal: nth($normals, $i);
	$dark: nth($darks, $i);
	$light: nth($lights, $i);
	
	.parent-#{$category} .wp-caption:before, .parent-#{$category} .wp-caption:after { content: url(../images/img_#{$category}.png); }
	.section-#{$category} li, .category-#{$category} li { list-style: url(../images/bullet_#{$category}.png) inside; }
	a.link-#{$category}, .link-container-#{$category} a {
		@include link;
		border-color: #{$normal};
		&:hover { background-color: #{$normal}; }
		&:after { content: url(../images/arrow_#{$category}.png); padding-left: 2px; }
		&:hover:after{ content: url(../images/arrow_hover.png); }
	}
	a.link-back-#{$category}, .link-container-back-#{$category} a {
		@include link;
		border-color: #{$normal};
		&:hover { background-color: #{$normal}; }
		&:after { content: url(../images/arrow_#{$category}_back.png); padding-right: 2px;	}
		&:hover:after{ content: url(../images/arrow_hover_back.png); }
	}
	
	#access .#{$category} { 
		background: #{$dark}; 
		&:hover { background: #{$normal}; }
	}
	
	.parent-#{$category} .wp-caption p { background-color: #{$light}; }
}

.single, .section, .archive, .search {
	h1, h2, #nav-below h3 { 
		position: relative;
		img { 
			position: absolute !important; 
			height: 100% !important; 
			max-height: none !important; 
			max-width: none !important; 
			z-index: -1; 
		}
	}
}
	
.bleed-right img { left: 0; top: 0; }
.bleed-left img { right: 0; top: 0; }
.bleed-switch2 img { right: 0; top: 0; }
.bleed-switch2 img { right: 0; top: 0; }

.addthis_toolbox { float: right; }
.licence { clear: both; padding-top: 14px; }
#searchform { 
	text-align: center; 
	margin-top: 14px;
	label { display: none; }
}

/* Stuff for the 1 column layout that will mostly get overwritten */
.extract img { max-width: 100%; height: auto; } 
#page { max-width: 454px; margin: 0 auto; padding: 0 14px; }
#nav-below div { text-align: center; }
.twtr-doc { width: 100% !important; margin: 14px auto; }
.entry-thumbnail { text-align: center; margin-bottom: 14px; }
#access { max-width: 227px; margin: 14px auto; }
#access a { display: block; width:100%; }
#access li, h1, .single h2, #nav-below h3 { padding: 2px 20px 2px 5px; }
h1, .single h2, #nav-below h3 { max-width: 202px; margin: 14px auto; }
.post, .articles { margin: 14px auto; } 
#logo { margin: 14px auto; }
.single #content .post, #author-avatar {
	img { max-width: 100%; height: auto; margin: auto; display: block; }
}
.wp-caption { 
	margin: auto; 
	position: relative; 
	overflow: hidden; 
	line-height: 0; 
	max-width: 100%; 
	height: auto;
	
	p, br { line-height: 21px; margin: 0; }
	&:before { position: absolute; left: 0; top: 0; }
	&:after{ position: absolute; right: 0; top: 0; }
	
}
label { display: block; }

