#page { width: 682px; max-width: none; margin: 0 auto; padding: 0 14px; }
.post, .articles, .category-archive-meta, #author-info, #comments, #site-generator { float: left; }
#site-generator { margin: 14px auto; float: none; }
.posts .post, .posts .articles, .section-about .row, .archive .post, .single #related, .single #latest, .single .references, .single #other .post { width: 218px; max-width: none; float: left; margin: 14px 0; padding: 0; }
.references { position: absolute; bottom: 0; }
.single{
	#sidebar, #related { float: right; clear: right; }
	#container { position: relative; } 
	#other .post { width: 160px; margin-left: 14px; }
	#other h2 + .post { margin-left: 0px; }
	#article { width: 450px; max-width: none; float: left; margin-right: 14px; padding: 0; }
} 
.posts .main, .section-about .row { margin-right: 14px; }
.posts .right { margin-left: 14px; }
.section-about .row .right { margin: 14px 0; }
#main, .row3, .clear { clear:both; }
.archive .post, #other .post { margin-left: 14px; }
.archive .clear3 { clear:left; margin-left: 0; }

#branding { position: relative; }
#logo { margin: 14px 0 0 0; float: left; }
#searchForm {
	position: absolute;
	bottom: 0;
	right: 0;
	label { display: none; }
}

$categories: feature snippet podcast about;
$positions: -40px -140px -240px -340px;
#access { 
	margin: 0;
	position: relative; 
	float: right; 
	overflow: visible;
	#navList li { line-height: 1.2em; padding: 5px 0 5px 25px}
	&:after { content: ''; }
	@for $i from 1 to 5 {
		$category: nth($categories, $i);
		$position: nth($positions, $i);
		.#{$category} { 
			background: url(../images/nav_#{$category}.png) no-repeat; 
			position: absolute; 
			top: 0; 
			right: #{$position}; 
			width: 400px;
			&:hover { background: url(../images/nav_#{$category}_hover.png) no-repeat; }
		}
	}
}

h1, .single h2, #nav-below h3 { width: 218px; max-width: none; margin: 14px 0; }
#nav-below .nav-previous { float: left; }
#nav-below .nav-next { float: right; }

label { display: inline-block; width: 10em; }
