#page { width: 440px; max-width: none; margin: 0 auto; padding: 0 14px; }
.post, .articles, .category-archive-meta, #author-info, #comments, #site-generator { float: left; }
#site-generator { margin: 14px auto; float: none; }
.main img { float: left; margin-right: 14px; }
.posts, .archive, .search, #latest, #other {
	.post, .articles { width: 213px; max-width: none; margin: 14px 0; padding: 0; }
	.main { width: 440px; }
	.left { margin-right: 14px; }
	.clear2 { clear: left; margin-right: 14px; }
}
.row, .clear { clear:both; }

#logo { margin: 14px 0; float: left; }
#searchForm { clear: both; }
#searchform { text-align: left; }

h1, .single h2, #nav-below h3 { width: 213px; max-width: none; margin: 14px 0; }
#nav-below .nav-previous { float: left; }
#nav-below .nav-next { float: right; }

label { display: inline-block; width: 10em; }

#access { 
	margin: 0 auto; 
	width: 150px; 
	position: relative;
	float: right;
	&:before { content: url(../images/cap_left.png); position: absolute; bottom: 0; left: 0; }
	&:after { content: ""; }
	li { 
		padding: 0;
		a { 
			position: relative; 
			left: 30px; 
			background-color: inherit; 
			padding: 2px 0;
			&:after { content: ""; position: absolute; width:1000px; height: 100%; z-index: -1; background-color: inherit; left: 50px; top: 0; }
		}
	}
}
