@import "widths";
@import "aliases";

$column: 213px;

#page { width: 2 * $column + $margin; max-width: none; margin: 0 auto; padding: 0 $margin; background-color:rgb(224, 222, 207);}
.post, .articles, .category-archive-meta, #author-info, #comments { float: left; }
.main img { float: left; margin-right: $margin; }
.bigfatpost{height:600px; width:300px;}
.entrypost {height:315px; width: 300px;}
.entry-thumbnail {display:inline-block; width: 300px;}
.entry-content-single {line-height: $big_margin;}


.posts, .archive, .search, #latest, #other {
	.post, .articles { width: 440px; max-width: none; margin: $margin 0; padding: 0; }
	.twitter-timeline { width: 2 * $column + $margin; max-width: none; margin: $margin auto; padding: 0; }
	.main { width: 2 * $column + $margin; }
	.left { margin-right: $margin; }
	.clear2 { clear: left; margin-right: $margin; }
}
.row, .clear { clear:both; }

#logo { margin: $margin 0; float: left; width:300px; height: 35px;}
.gistlogo {width:300px; height:35px;}

#searchForm { clear: both; text-align: left; }

h1, .single h2, #nav-below h3 { width: $column; max-width: none; margin: $margin 0; }
#nav-below .nav-previous { float: left; }
#nav-below .nav-next { float: right; }

label { display: inline-block; width: 10em; }

#access { 
	margin: 0 auto; 
	width: 500px; 
	position: relative;
	float: right;
	overflow-y: visible;
	&:before {  position: absolute; bottom: 0; left: 0; }
	&:after { content: ""; }
	li { 
		padding: 0;
		a { 
			position: relative; 
			left: 30px; 
			background-color: inherit; 
			padding: $inner 0;
			&:after { content: ""; position: absolute; width:1000px; height: 100%; z-index: -1; background-color: inherit; left: 50px; top: 0; }
		}
	}
}
