.bleed-right img { left: 0; top: 0; }

.bleed-left img { right: 0; top: 0; }

@media all and (max-width: 724px) { .bleed-switch2 img { right: 0; top: 0; } }
@media all and (min-width: 724px) { .bleed-switch img { left: 0; top: 0; } }
@media all and (max-width: 1280px) { .bleed-switch2 img { right: 0; top: 0; } }
@media all and (min-width: 1280px) { .bleed-switch2 img { left: 0; top: 0; } }
