#main, .clear { clear: both; }

.post, .articles, .category-archive-meta, #author-info, #comments { float: left; }

.section-feature { position: relative; }

.posts .post, .posts .articles, .section-about .row, .archive .post, .search .post, .single #related, .single #latest, .single .references, .single #other .post { width: 300px; max-width: none; float: left; margin: 14px 0; padding: 0; }

.section-feature .posts .main { width: 456px; max-width: none; position: absolute; left: 235px; margin: 14px 0; }

.section-feature .posts .right { position: relative; left: 456px; }

.section-feature .posts .left, .posts .main, .section-about .row { margin-right: 14px; }

.posts .right { margin-left: 14px; }

.section-about .row .right { margin: 14px 0; }

.single #article { max-width: none; float: left; margin-right: 14px; padding: 0; }
.single .aside { float: right; }
.single #sidebar, .single #related { float: right; clear: right; }
.single #container { position: relative; }
.single #other .post { margin-left: 14px; }
.single #other h2 + .post { margin-left: 0; }

.references { position: absolute; bottom: 0; }

.archive .post, .search .post { margin-left: 14px; }

#branding { position: relative; }

#logo { margin: 14px 0 0 0; float: left; }

#searchForm { text-align: left; position: absolute; bottom: 0; right: 0; }

#access { margin: 0; position: relative; float: right; overflow: visible; }
#access #navList li { line-height: 1.2em; padding: 7px 0 7px 28px; }
#access:after { content: ''; }
#access .feature { background: url(../images/nav_feature.png) no-repeat 0 -40px; position: absolute; top: 0; right: 200px; width: 400px; }
#access .feature:hover { background: url(../images/nav_feature.png) no-repeat 0 0; }
#access .snippet { background: url(../images/nav_snippet.png) no-repeat 0 -40px; position: absolute; top: 0; right: 50px; width: 400px; }
#access .snippet:hover { background: url(../images/nav_snippet.png) no-repeat 0 0; }
#access .podcast { background: url(../images/nav_podcast.png) no-repeat 0 -40px; position: absolute; top: 0; right: -100px; width: 400px; }
#access .podcast:hover { background: url(../images/nav_podcast.png) no-repeat 0 0; }
#access .about { background: url(../images/nav_about.png) no-repeat 0 -40px; position: absolute; top: 0; right: -250px; width: 400px; }
#access .about:hover { background: url(../images/nav_about.png) no-repeat 0 0; }

h1, .single h2, #nav-below h3 { width: 300px; max-width: none; margin: 14px 0; }

#nav-below .nav-previous { float: left; }

#nav-below .nav-next { float: right; }

label { display: inline-block; width: 10em; }

.bleed-switch img { left: 0; top: 0; }

#page { width: 928px; max-width: none; margin: 0 auto; padding: 0 14px; }

.section-feature .posts .post, .section-feature .posts .articles, .single #related, .single #latest, .single .references, .single #other .post { width: 221px; max-width: none; }

.single #article { width: 442px; }
.single .aside { width: 221px; }

.archive .clear3, .search .clear3 { clear: left; margin-left: 0; }

.wp-caption { width: 442px; }
.wp-caption img { width: 331.5px; float: left; }
.wp-caption p { width: 106.5px; float: right; }
.wp-caption:after { right: 110.5px; }
