body { font-family: Calibri, "Gill Sans", "Gill Sans MT", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, sans-serif; font-size: 13px; overflow-x: hidden; }

div.twtr-widget { font-family: Calibri, "Gill Sans", "Gill Sans MT", "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, sans-serif !important; font-size: 13px !important; }

h1, h2, h3, h4, h5, h6, #access #navList a { font-family: "Century Gothic", Futura, "URW Gothic L", "Trebuchet MS", Verdana, "DejaVu Sans", "Nimbus Sans L", sans-serif; font-size: 16px; font-weight: bold; }

h1 { font-size: 24px; margin-bottom: 14px; }

h3 { font-size: 18px; text-align: center; margin-bottom: 5px; text-transform: uppercase; }

.wp-caption p { font-weight: bold; }

.entry-content { line-height: 21px; }

.entry-content p, .entry-content br, .category-archive-meta p, .category-archive-meta br, #author-info p, #author-info br { margin-bottom: 14px; }

.entry-header { text-transform: uppercase; text-align: center; margin-bottom: 14px; }

.single #content .entry-header { text-transform: none; text-align: left; }

#access a, h1, .single h2, .archive #nav-below h3, .search #nav-below h3, #site-generator h2 { color: white; }

a { text-decoration: none; }

ul.blank li { list-style: none inside; }

#logo { background: #580ead; width: 212px; height: 128px; max-width: none; }

#logo img { z-index: 0 !important; }

#access { position: relative; overflow-y: hidden; }
#access:after { content: url(../images/cap_right.png); position: absolute; top: 0; right: 0; }

.twtr-hd h3 { display: none; }

.twtr-hd h4, .twtr-hd h3 { float: left; clear: none; }

dt { float: left; margin-right: 5px; font-weight: bold; }

dd { margin-bottom: 10px; }

.single-feature .wp-caption { background-color: #9c6ad6; }
.single-feature .wp-caption:before, .single-feature .wp-caption:after { content: url(../images/img_feature.png); }
.single-feature .wp-caption p { z-index: 1; }

.section-feature li, .category-feature li, .parent-feature li { list-style: url(../images/bullet_feature.png) inside; }
.section-feature #logo, .category-feature #logo, .parent-feature #logo { background: #580ead; }

a.link-feature, .link-container-feature a { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #580ead; }
a.link-feature:hover, .link-container-feature a:hover { color: #ffffff; }
a.link-feature:hover, .link-container-feature a:hover { background-color: #580ead; }
a.link-feature:after, .link-container-feature a:after { content: url(../images/arrow_feature.png); white-space: nowrap; padding-left: 2px; }
a.link-feature:hover:after, .link-container-feature a:hover:after { content: url(../images/arrow_hover.png); }

a.link-back-feature, .link-container-back-feature a { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #580ead; }
a.link-back-feature:hover, .link-container-back-feature a:hover { color: #ffffff; }
a.link-back-feature:hover, .link-container-back-feature a:hover { background-color: #580ead; }
a.link-back-feature:after, .link-container-back-feature a:after { content: url(../images/arrow_feature_back.png); white-space: nowrap; padding-right: 2px; }
a.link-back-feature:hover:after, .link-container-back-feature a:hover:after { content: url(../images/arrow_hover_back.png); }

#access .feature { background: #370470; }
#access .feature:hover { background: #580ead; }

.parent-feature .aside, .parent-feature .wp-caption p { background-color: #9c6ad6; }

.single-snippet .wp-caption { background-color: #d4f870; }
.single-snippet .wp-caption:before, .single-snippet .wp-caption:after { content: url(../images/img_snippet.png); }
.single-snippet .wp-caption p { z-index: 1; }

.section-snippet li, .category-snippet li, .parent-snippet li { list-style: url(../images/bullet_snippet.png) inside; }
.section-snippet #logo, .category-snippet #logo, .parent-snippet #logo { background: #b1f100; }

a.link-snippet, .link-container-snippet a { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #b1f100; }
a.link-snippet:hover, .link-container-snippet a:hover { color: #ffffff; }
a.link-snippet:hover, .link-container-snippet a:hover { background-color: #b1f100; }
a.link-snippet:after, .link-container-snippet a:after { content: url(../images/arrow_snippet.png); white-space: nowrap; padding-left: 2px; }
a.link-snippet:hover:after, .link-container-snippet a:hover:after { content: url(../images/arrow_hover.png); }

a.link-back-snippet, .link-container-back-snippet a { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #b1f100; }
a.link-back-snippet:hover, .link-container-back-snippet a:hover { color: #ffffff; }
a.link-back-snippet:hover, .link-container-back-snippet a:hover { background-color: #b1f100; }
a.link-back-snippet:after, .link-container-back-snippet a:after { content: url(../images/arrow_snippet_back.png); white-space: nowrap; padding-right: 2px; }
a.link-back-snippet:hover:after, .link-container-back-snippet a:hover:after { content: url(../images/arrow_hover_back.png); }

#access .snippet { background: #739d00; }
#access .snippet:hover { background: #b1f100; }

.parent-snippet .aside, .parent-snippet .wp-caption p { background-color: #d4f870; }

.single-podcast .wp-caption { background-color: #ffda73; }
.single-podcast .wp-caption:before, .single-podcast .wp-caption:after { content: url(../images/img_podcast.png); }
.single-podcast .wp-caption p { z-index: 1; }

.section-podcast li, .category-podcast li, .parent-podcast li { list-style: url(../images/bullet_podcast.png) inside; }
.section-podcast #logo, .category-podcast #logo, .parent-podcast #logo { background: #ffbb00; }

a.link-podcast, .link-container-podcast a { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #ffbb00; }
a.link-podcast:hover, .link-container-podcast a:hover { color: #ffffff; }
a.link-podcast:hover, .link-container-podcast a:hover { background-color: #ffbb00; }
a.link-podcast:after, .link-container-podcast a:after { content: url(../images/arrow_podcast.png); white-space: nowrap; padding-left: 2px; }
a.link-podcast:hover:after, .link-container-podcast a:hover:after { content: url(../images/arrow_hover.png); }

a.link-back-podcast, .link-container-back-podcast a { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: #ffbb00; }
a.link-back-podcast:hover, .link-container-back-podcast a:hover { color: #ffffff; }
a.link-back-podcast:hover, .link-container-back-podcast a:hover { background-color: #ffbb00; }
a.link-back-podcast:after, .link-container-back-podcast a:after { content: url(../images/arrow_podcast_back.png); white-space: nowrap; padding-right: 2px; }
a.link-back-podcast:hover:after, .link-container-back-podcast a:hover:after { content: url(../images/arrow_hover_back.png); }

#access .podcast { background: #a67a00; }
#access .podcast:hover { background: #ffbb00; }

.parent-podcast .aside, .parent-podcast .wp-caption p { background-color: #ffda73; }

.single-about .wp-caption { background-color: #ff7373; }
.single-about .wp-caption:before, .single-about .wp-caption:after { content: url(../images/img_about.png); }
.single-about .wp-caption p { z-index: 1; }

.section-about li, .category-about li, .parent-about li { list-style: url(../images/bullet_about.png) inside; }
.section-about #logo, .category-about #logo, .parent-about #logo { background: red; }

a.link-about, .link-container-about a { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: red; }
a.link-about:hover, .link-container-about a:hover { color: #ffffff; }
a.link-about:hover, .link-container-about a:hover { background-color: red; }
a.link-about:after, .link-container-about a:after { content: url(../images/arrow_about.png); white-space: nowrap; padding-left: 2px; }
a.link-about:hover:after, .link-container-about a:hover:after { content: url(../images/arrow_hover.png); }

a.link-back-about, .link-container-back-about a { text-decoration: none; color: #000000; font-weight: bold; border-bottom: 1px dotted; border-color: red; }
a.link-back-about:hover, .link-container-back-about a:hover { color: #ffffff; }
a.link-back-about:hover, .link-container-back-about a:hover { background-color: red; }
a.link-back-about:after, .link-container-back-about a:after { content: url(../images/arrow_about_back.png); white-space: nowrap; padding-right: 2px; }
a.link-back-about:hover:after, .link-container-back-about a:hover:after { content: url(../images/arrow_hover_back.png); }

#access .about { background: #a60000; }
#access .about:hover { background: red; }

.parent-about .aside, .parent-about .wp-caption p { background-color: #ff7373; }

.single h1, .single h2, .single #nav-below h3, .section h1, .section h2, .section #nav-below h3, .archive h1, .archive h2, .archive #nav-below h3, .search h1, .search h2, .search #nav-below h3 { position: relative; }
.single h1 img, .single h2 img, .single #nav-below h3 img, .section h1 img, .section h2 img, .section #nav-below h3 img, .archive h1 img, .archive h2 img, .archive #nav-below h3 img, .search h1 img, .search h2 img, .search #nav-below h3 img { position: absolute !important; height: 100% !important; max-height: none !important; max-width: none !important; z-index: -1; }

#article .post { float: none; }

.bleed-right img { left: 0; top: 0; }

.bleed-left img { right: 0; top: 0; }

.bleed-switch2 img { right: 0; top: 0; }

.bleed-switch2 img { right: 0; top: 0; }

.aside { padding: 7px; margin: 7px; }

.addthis_toolbox { float: right; }

.licence { clear: both; padding-top: 14px; }

#searchForm { text-align: center; }
#searchForm form { margin-top: 14px; }
#searchForm label { display: none; }

/* Stuff for the 1 column layout that will mostly get overwritten */
.extract img { max-width: 100%; height: auto; }

#page { max-width: 454px; margin: 0 auto; padding: 0 14px; }

#nav-below div { text-align: center; }

.twtr-doc { width: 100% !important; margin: 14px auto; }

.entry-thumbnail { text-align: center; margin-bottom: 14px; }

#access { max-width: 227px; margin: 14px auto; }

#access a { display: block; width: 100%; }

#access li, h1, .single h2, #nav-below h3 { padding: 2px 20px 2px 5px; }

h1, .single h2, #nav-below h3 { max-width: 202px; margin: 14px auto; }

.post, .articles { margin: 14px auto; }

#logo { margin: 14px auto; }

.single #content .post img, #author-avatar img { max-width: 100%; height: auto; margin: auto; display: block; }

.wp-caption { margin: auto; position: relative; overflow: hidden; line-height: 0; max-width: 100%; height: auto; }
.wp-caption p, .wp-caption br { line-height: 21px; margin: 0; padding: 3px; }
.wp-caption:before { position: absolute; left: 0; top: 0; }
.wp-caption:after { position: absolute; right: 0; top: 0; }

label { display: block; }
