.bleed-right:after { content: ""; position: absolute; width:1000px; height: 100%; z-index: -1; background-color: inherit; left: 50px; top: 0; }
.bleed-left:before { content: ""; position: absolute; width:1000px; height: 100%; z-index: -1; background-color: inherit; right: 50px; top: 0; }

.cap-switch { position: relative; }
@media all and max-width: 724px {
	.bleed-switch:before { content: ""; position: absolute; width:1000px; height: 100%; z-index: -1; background-color: inherit; right: 50px; top: 0; }
	.cap-switch:after { content: url(images/cap_right.png); position: absolute; top: 0; right: 0; }
}

@media all and min-width: 724px {
	.bleed-switch:after { content: ""; position: absolute; width:1000px; height: 100%; z-index: -1; background-color: inherit; left: 50px; top: 0; }
	.cap-switch:before { content: url(images/cap_left.png); position: absolute; bottom: 0; left: 0; }
}
