@CHARSET "UTF-8";

.page-template-home2-php #content {
	width: 640px;
}

.page-template-home2-php #sidebar {
	width: 120px;
}

.page-template-home2-php #snippets {
	width: 160px;
	float: left;
}

.page-template-home2-php div.row {
	clear: both;
}

.page-template-home2-php .post {
	width: 42%;
	margin: 10px 1% 10px 1%;
	float: left;
}

.page-template-home2-php .post, .page-template-home2-php .slider {
	padding-right: 35px;
}

.page-template-home2-php .entry-summary {
	clear: none;
	padding-top: 0px;
}

.page-template-home2-php .simpleSlide-window {
	width: 100%;
}

.page-template-home2-php .simpleSlide-thumbnails {
	text-align: center;
}

.page-template-home2-php #snippets {
	background: #685459;
}

.page-template-home2-php a {
	color: #000000;
}

.page-template-home2-php #snippets .post {
	width: 100%;
	margin: 0;
	clear: both;
	padding: 0;
	border: 0;
}

.page-template-home2-php #snippets .post h2 {
	display: none;
}

.page-template-home2-php #snippets .post img {
	width: 100%;
}

.page-template-home2-php .post img,.page-template-home2-php .simpleSlide-window img {
	float: left;
	padding-right: 10px;
}

