@CHARSET "UTF-8";

.page-template-home2-php #content {
	width: 640px;
}

.page-template-home2-php #sidebar {
	width: 120px;
}

.page-template-home2-php #snippets {
	width: 160px;
	float: left;
}

.page-template-home3-php #content {
	width: 700px;
}

.page-template-home3-php #snippets {
	width: 220px;
	float: left;
}

.page-template div.row {
	clear: both;
}

.page-template .post {
	width: 42%;
	margin: 10px 1% 10px 1%;
	float: left;
}

.page-template .post, .page-template .slider {
	padding-right: 35px;
}

.page-template .entry-summary {
	clear: none;
	padding-top: 0px;
}

.page-template .simpleSlide-window {
	width: 100%;
}

.page-template .simpleSlide-thumbnails {
	text-align: center;
}



.page-template a {
	color: #000000;
}

.page-template #snippets .post {
	width: 100%;
	margin: 0;
	clear: both;
	padding: 0;
	border: 0;
}

.page-template #snippets .post h2 {
	display: none;
}

.page-template #snippets .post h3 {
	text-align: center;
}

.page-template #snippets .post img {
	
}

.page-template #snippets .post p {
	margin: 0 2px 0 2px;
}

.page-template .post img, {
	float: left;
	padding-right: 10px;
}

.page-template-home3-php {
	font-size: 10pt !important;
}

.page-template-home3-php h1{
	color: #112552 !important;
	border-bottom: 2px solid #112552 !important;
	font-size: 16pt !important;
	font-weight: bold !important;
}

.page-template-home3-php h2{
	color: #112552 !important;
	border-bottom: 2px solid #112552 !important;
	margin-top: 10px; !important;
	font-weight: bold !important;
}

.page-template-home3-php .addthis_toolbox {
	float: right;
}

.page-template-home3-php h3#reply-title {
    border-bottom: 2px solid #112552 !important;
    color: #112552 !important;
    font-weight: bold !important;
    margin-top: 10px;
}
.page-template-home3-php .comment-form-comment{
	float: left;
	margin-right: 5px;
}

.page-template-home3-php .comment-form-comment label{
	vertical-align: top;
	margin-right: 5px;
}

.page-template-home3-php .form-submit{
	clear: both;
}

.page-template-home3-php .comment-body{
	width: 90%;
	float: left;
}

.page-template-home4-php .category-feature, .page-template-home4-php .slider {
	background: url(images/background-feature.png) no-repeat right top;
}

.page-template-home4-php .category-feature h2, .page-template-home4-php .slider h2 {
	color: #112552;
}

.page-template-home4-php .category-snippet {
	background: url(images/background-feature.png) no-repeat right top;
}

.page-template-home4-php .category-snippet h2 {
	color: #112552;
}

.page-template-home4-php .category-event {
	background: url(images/background-feature.png) no-repeat right top;
}

.page-template-home4-php .category-event h2 {
	color: #112552;
}

.page-template-home4-php .category-podcast {
	background: url(images/background-feature.png) no-repeat right top;
}

.page-template-home4-php .category-podcast h2 {
	color: #112552;
}

.page-template-home4-php .post {
	width: 40%;
	border: 0;
}

.page-template-home4-php .post, .page-template .slider {
	padding-right: 40px;
}

.page-template-home4-php .post h2, .page-template-home4-php .slider h2 {
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
	margin: -10px 5px 10px 0;
	text-align: right;
}

.page-template-home4-php .simpleSlide-slide {
	margin: 0px
}

.page-template-home4-php .entry-summary {
	clear: none;
	padding-top: 0px;
}

.page-template-home4-php .simpleSlide-window {
	width: 100%;
}

.page-template-home4-php .simpleSlide-thumbnails {
	text-align: center;
}

.page-template-home4-php .post img, .page-template-home4-php .simpleSlide-window img {
	float: left;
	padding-right: 10px;
}

.page-template-home4-php .post a, .page-template-home4-php .slider a {
	color: #a16106;
}

.page-template-home4-php .post h3, .page-template-home4-php .slider h3 {
	font-weight: bold;
}

.page-template-home4-php .jump-to img {
	width: 40px;
	height: 40px;
	padding: 2px;
}

.page-template-home4-php .simpleSlide-tray img {
	width: 200px;
	height: 200px;
}

.page-template-home4-php {
	font-size: 10pt;
}

.page-template-home4-php .current img {
	border: 1px #112552 solid;
	padding: 1px;
}

.page-template-home4-php .hover img{
	border: 1px #a16106 solid;
	padding: 1px;
}

.twtr-doc h3 {
	display: none;
}

.twtr-doc h4 {
	clear: none;
	float: left;
	font-weight: bold !important;
	margin-left: 5px !important;
}

.twtr-doc, .twtr-timeline {
	-moz-border-radius: 0px !important;
}

.twtr-ft a {
	float: right !important;
}

.page-template-home4-php .sidebarSection li {
    list-style: none outside none;
    vertical-align: middle;
}

.page-template-home4-php .sidebarSection li img {
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    width: 16px;
}

/**************** Simon - 7/03/2011 ********************/

.page-template-home6-php .post img{
	float: left;
}

.page-template-home6-php h2#sliderTitle{
	
	width: 96%;
}

.page-template-home6-php .img{
	width: 100%;
}

.page-template-home6-php .slider .entry-summary {
	top: 50px;
	margin-top: 100px;
	margin-bottom:0;
	padding: 5px;

}


.page-template-home-6-php img{
	
}
.page-template-home6-php #mainPostSectionLeft{
	width: 460px;
	margin: 5px 5px 5px 0;
	float: left;
	padding-bottom: 70px;
}

.page-template-home6-php .mainPostSectionMid{
	width: 230px;
	margin: 5px;
	float: left;
	background: #c1b9a6;
	padding-bottom: 115px;
}

.page-template-home6-php #mainPostSectionLeft h3, .page-template-home6-php .mainPostSectionMid h3{
	color: white;
	padding: 5px 0 2px 0 ;
	
}

.page-template-home6-php #mainPostSectionLeft ul, .page-template-home6-php .mainPostSectionMid ul{
	padding-left: 1.5em;
	list-style-type: square;
}

.page-template-home6-php #mainPostSectionLeft li {
	font-size: 80%;
	line-height: 1.4;
	font-weight: bold;
	padding-bottom: 4px;

}

.page-template-home6-php .mainPostSectionMid li {
	font-size: 80%;
	line-height: 1.4;
	padding-bottom: 4px;

}

.page-template-home6-php .highlight{
	font-weight: bold;
}


.page-template-home6-php #mainPostSectionLeft h3 {
	width: 440px;
	border-top: 2px solid #2857af;
	border-bottom: 1px solid #535353;
	margin-bottom: 2px;
}

.page-template-home6-php .mainPostSectionMid h3 {
	width: 230px;
	border-top: 2px solid #c68b00;
	border-bottom: 1px solid #535353;
	margin-bottom: 2px;
	
}

.page-template-home6-php #mainPostSectionRight{
	width: 220px;
	padding: 5px;
	float: left;
}

.page-template-home6-php #snippets .post img, .page-template-home6-php .simpleSlide-slide img {

	width: 100%;
}

.page-template-home6-php .simpleSlide-slide .sliderImage{
	top: 0;
	width: 100%;
	margin-top: -50px;
	height: 250px;
}
.page-template-home6-php .simpleSlide-slide .sliderImage img{
	padding: 5px;
	height: 250px
}

.page-template-home6-php .category-feature, .page-template-home6-php .slider {
	background:  #949dae;
	margin-bottom: 20px;
	padding-right: 5px;
}


.page-template-home6-php .slider .entry-title {
	width: 80%;
	font-weight: bold; 
	margin-top: -200px;
	padding: 5px;

}
.page-template-home6-php .slider h3 a{
	color: #112552;
}
.page-template-home6-php .simpleSlide-thumbnails{
	width: 100%;
	padding: none;
	border-bottom: 5px solid #112552;
	border-top: 5px solid #112552;
	text-align:left;
	background: #2857af;
	color: white;
	margin-top: -40px;
}

.page-template-home6-php .simpleSlide-thumbnails h3{
	display: inline;
	font-weight: bold;
	text-align:left;
}
.page-template-home6-php .jump-to img{
	width:50px;
	height:50px;
}

.page-template-home6-php .category-feature h2, .page-template-home6-php .slider h2 {
	color: #112552;
	background-color: transparent;
	background-image: none;
}

.page-template-home6-php .category-snippet {
	background: url(images/background-snippet.png) no-repeat right top;
}

.page-template-home6-php .category-snippet h2 {
	color: #93000e;
}

.page-template-home6-php .category-event {
	background: url(images/background-event.png) no-repeat right top;
}

.page-template-home6-php .category-event h2 {
	color: #0a5b00;
}

.page-template-home6-php .category-podcast {
	background: url(images/background-podcast.png) no-repeat right top;
}

.page-template-home6-php .category-podcast h2 {
	color: #c69246;
}

.page-template-home6-php .post {
	width: 40%;
	border: 0;
}

.page-template-home6-php .post, .page-template .slider {
}

.page-template-home6-php .post h2 {
	margin: 10px 35px 0 0;
}

.page-template-home6-php #snippets {
	float:right;
	}
.page-template-home6-php #snippets .sideSnippets{
	background: #E5E8FF;
	margin-bottom: 5px;
}


.page-template-home6-php .sideSnippets .entry-summary{
	padding-left: 3px;
}

.page-template-home6-php #snippets h3 a{
	color: #112552;
	font-weight: bold;
}


.page-template-home6-php .sideSnippets img{
	float: left;
	width: 200px;
}

.page-template-home6-php .sidebarSection{
	background: #E5E8FF;
}